# Copyright (c) 2020 CloudZero - ALL RIGHTS RESERVED - PROPRIETARY AND CONFIDENTIAL
# Unauthorized copying of this file and/or project, via any medium is strictly prohibited.
# Direct all questions to legal@cloudzero.com

# Mac OS garbage
.DS_Store
*.out

# Python tests
.coverage*
.pytest_cache
.tox
.cache
coverage-reports
coverage.xml
test-results
.hypothesis

# JS tests
coverage
coverage-watch
mb.pid

# JS dependencies
node_modules
frontend/dist

# SAM/Lambda artifacts
app.zip
vendored
packaged-template.yaml

# Python artifacts
__pycache__
*.pyc
dist
sdist
*.egg-info
.python-version

# PyCharm
.idea

# Makefile temp stuff
.cz_*_verified
.cz_py_dependencies_installed

# Log files
*.log

# editor files
*.swp
*.swo
*.swn
.python-version

# auth0 config
.jwt.js
.jwt.cjs.js
.auth0-credentials.json
.mypy_cache

# testing
response.json
email_output.html
email_output.txt
notifications_repl_output.json
.vscode/
.aws-sam/
