# Copyright (c) 2016-present, CloudZero, Inc. All rights reserved.
# Licensed under the BSD-style license. See LICENSE file in the project root for full license information.

docker>=4.3.1
flake8>=3.8.3
flake8-copyright>=0.2.2
autopep8>=1.5.4
pycodestyle>=2.6.0
pytest>=6.1.0
pytest-cov>=2.10.1
pytest-mock>=3.3.1
twine>=3.2.0
setuptools>=50.3.0
wheel>=0.35.1
-r requirements.txt
