boto3>=1.20.42
requests>=2.27.1
termcolor>=1.1.0
colored>=1.4.2
simplejson>=3.17.5
progressbar>=2.5
stringcase>=1.2.0
click>=8.0.1
jq>=1.2.1
tabulate>=0.8.9
aws-log-parser~=2.1.1
beautifulsoup4~=4.10.0