# Copyright (c) 2016-2023, CloudZero, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
# Direct all questions to support@cloudzero.com

pytest>=7.2.1
pytest-cov>=4.0.0
pytest-mock>=3.10.0
pytest-env>=0.8.1
setuptools==67.7.2
wheel>=0.38.4
hatch>=1.6.3
ruff>=0.0.243

-r requirements.txt
